.main {
  display: flex;
  flex-direction: column;
  margin-block: 10px;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
}
.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content * {
  color: var(--white-color);
  margin: 0;
}
.content h5 {
  font: size 19px;
  font-family: var(--ff-secondary-regular);
}
.content p {
  font: size 14px;

  font-family: var(--ff-secondary-regular);
}
