.main {
  padding-block: 40px;
  padding-inline: 10px;
  background-color: var(--main-color);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.content p {
  font-family: var(--ff-secondary-regular);
  color: var(--white-color);
  font-size: 18px;
  text-align: center;
}
.content h5 {
  color: var(--white-color);
  text-align: center;
  font-size: 40px;
  font-family: var(--ff-secondary-regular);
  text-transform: uppercase;
}
.button button {
  background-color: var(--white-color) !important;
  color: var(--black-color) !important;
  border: 1px solid var(--white-color) !important;
  padding: 10px 60px !important;
}
@media screen and (max-width: 1024px) {
  .content h5 {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .content h5 {
    font-size: 26px;
  }
}
@media screen and (max-width: 500px) {
  .content h5 {
    font-size: 20px;
  }
}
